*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
Body {
    background-color: gray;
    text-align: center;
}
img{
    padding: 33px;
    width: 500px;
    height: 450px;
}
a {
    color:antiquewhite;
    font-size: 40px;
}